.content {
    max-width: 150%;
    width: 50%;
    overflow: auto;
    margin: auto;
}

.scrollable {
    overflow: scroll;
    bottom: 0;
    height: 350px;
}

.food .card-panel a{
    color: #607d8b;
}


