alembic==0.9.9
arrow==0.4.2
bcrypt==3.1.4
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
feedparser==5.2.1
Flask==0.12.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
html5lib==1.0.1
icalendar==4.0.2.dev0
ics==0.3.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
lxml==3.7.3
Mako==1.0.7
MarkupSafe==1.0
mechanize==0.3.6
MySQL-python==1.2.5
pycparser==2.18
python-dateutil==2.7.1
python-editor==1.0.3
pytz==2018.3
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.5
urllib3==1.22
vobject==0.9.5
webencodings==0.5.1
Werkzeug==0.14.1
